
			<div class="content">
				<div class="state-nav">
					{{#link-to 'document_new' class="new button"}}new{{/link-to}}
					<a href="javascript:void(0)" class="to-top button" {{action 'backToTop'}}>edit</a>
					<a href="javascript:void(0)" class="back-to-menu button" {{action 'backToMenu'}}>menu</a>
				</div>
				<div class="sheet document">
					<h1>Documenten</h1>
					<div class="filters">
						<div class="search">{{view Ember.TextField valueBinding="searchFilter" type="text" action="filterDocuments" name="search"}}</div>
						<div class="order">
							<a href="javascript:void(0)" class="filter name">Naam document</a>
							<a href="javascript:void(0)" class="filter client">Client</a>
							<a href="javascript:void(0)" class="filter type">Documentype</a>
							<a href="javascript:void(0)" class="filter instance">Instantie</a>
							<a href="javascript:void(0)" class="filter name">Laatst aan gewerkt</a>
						</div>
					</div>
					<ul class="list">
						{{#each item in arrangedContent}}
							{{#link-to 'document' id}}
								<li>
									<span class="person">{{item.persons}}</span>
									<span class="doctype">{{item.types}}</span>
									<span class="company">{{item.instances}}</span>
									<span class="date">{{item.date}}</span>
									<span class="name">{{item.name}}</span>
								</li>
							{{/link-to}}	
						{{/each}}
					</ul>
				</div>
			</div>