			
			<!-- div class="nav documents"><a href="./index.html">Home</a> > Documents</div //-->
			<div class="content">

				<div class="state-nav">
					<a href="javascript:void(0)" class="new button">new</a>
				{{#if isEditing}}
					<a href="javascript:void(0)" class="toggle-editable button editing" {{action 'readDocument'}}>read</a>
				{{else}}
					<a href="javascript:void(0)" class="toggle-editable button" {{action 'editDocument'}}>edit</a>
				{{/if}}
					<a href="javascript:void(0)" class="to-top button">edit</a>
					<a href="javascript:void(0)" class="save button">edit</a>
					<a href="javascript:void(0)" class="save inactive button">edit</a>
					<a href="javascript:void(0)" class="delete button">edit</a>
					<a href="javascript:void(0)" class="back-to-list button">list</a>
					<a href="javascript:void(0)" class="back-to-menu button">menu</a>
					<a href="javascript:void(0)" class="back-to-person button">menu</a>
					<a href="javascript:void(0)" class="back-to-instance button">menu</a>
				</div>

				<div {{bind-attr class=":sheet :document isEditing::read"}}>
					<!--article-->
						
						<h1>Title</h1>
						<div>6 november 2013</div>
						<form class="list">

							{{#with isReading as reading}}
								{{#each field}}
									{{partial "form/form_element"}}
								{{/each}}
							{{/with}}

						</form>

					<!--/article-->
				</div>
			</div>