			<div class="content">
				<div class="state-nav">
					<a href="javascript:void(0)" class="new button" {{action 'newDocument'}}>new</a>
					<a href="javascript:void(0)" class="to-top button" {{action 'backToTop'}}>edit</a>
					<a href="javascript:void(0)" class="back-to-list button" {{action 'backToList'}}>back</a>
					<a href="javascript:void(0)" class="back-to-menu button" {{action 'backToMenu'}}>menu</a>
				</div>

				<div {{bind-attr class=":sheet :document isEditing::read"}}>
					<!--article-->
						<h1>{{name}}</h1>
						<div>{{date}}</div>
						<form class="list">
							{{#with isReading as reading}}
								{{#each field}}
									{{partial "form/form_element"}}
								{{/each}}
							{{/with}}
						</form>
					<!--/article-->
				</div>
			</div>